<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ asset('static/img/favicon.ico') }}">
        <title>{% block title %}后台管理系统{% endblock %}</title>
        {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('static/css/foundation.css') }}">
        <link rel="stylesheet" href="{{ asset('static/admin/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('static/lib/fontawesome-5.8.2/css/all.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('static/lib/foundation-icons/foundation-icons.css') }}" />
        {% endblock %}
        <style>
        ::-webkit-scrollbar { 
            width:5px;            
            height:5px;            
        }
        ::-webkit-scrollbar-thumb {
            background-color:#1e282c;                
            background-clip:padding-box;                
            min-height:28px;                
            }                
            ::-webkit-scrollbar-thumb:hover {                
            background-color:#1e282c;                
            }
        </style>
    </head>

    <body>
        <!-- header menu -->
        <div class="top-bar show-for-small-only">                    
            <div class="show-for-small-only">
                <ul class="dropdown menu" data-dropdown-menu="data-dropdown-menu">                
                    <li class="is-action">
                        <a href="#" data-toggle="offCanvasLeft"><i class="fi-list-thumbnails"></i> </a>
                    </li>   
                    <li class="menu-text">斯奎尔小白</li>                                                   
                </ul>
            </div>            
        </div>        
       
        <!-- Set up Off-canvas -->
        <div class="off-canvas-wrapper">
            <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper="data-off-canvas-wrapper">
                <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas="data-off-canvas" style="top:55px;">
                    <!-- left off-canvas markup -->
                    <div class="cell large-2 medium-2" style="background-color:#3c444d;">
                        <!--left margin-top:55px -->
                        <ul class="vertical menu accordion-menu left-menu-large" data-accordion-menu="data-accordion-menu">                        
                              
                            <li>
                                <a href="javascript:void(0);" class="check-action" ><i class="fas fa-tasks"></i> 初始化菜单action</a>
                            </li>
                           
                            <li>
                                <a href="javascript:void(0);" class="modify-password" data-href="{{ path('admin.admin.password') }}"><i class="fi fi-key"></i>修改密码</a>
                            </li>
                          
                            <li>
                                <a href=""><i class="fi fi-power"></i>退出</a>
                            </li> 
                            
                                                              
                        </ul>
                    </div>
                </div>
                <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas="data-off-canvas" data-position="right">
                    <!-- right off-canvas markup -->
                
                </div>
                <div class="off-canvas-content" data-off-canvas-content="data-off-canvas-content">
                    <!-- page content -->
                
                </div>
            </div>
        </div>
        <nav class="hide-for-small-only">
            <div class="left">
               平台系统
            </div>
           <div class="hide-for-small-only right"  style="width:120px; z-index:101">                
                <ul class="dropdown menu text-align" data-dropdown-menu="data-dropdown-menu">               
                    <li class="width-100">
                        <a><img src="{{ asset('static/admin/img/avatar.png') }}" width="20" style="border-radius: 50%; "> adminnn</a>
                        <ul class="menu vertical">
                            
                            <li>
                                <a href="javascript:void(0);" class="check-action" ><i class="fas fa-tasks"></i> 初始化菜单action</a>
                            </li>
                           
                            <li>
                                <a href="javascript:void(0);" class="modify-password" data-href="{{ path('admin.admin.password') }}"><i class="fi fi-key"></i> 修改密码</a>
                            </li>
                           
                            <li>
                                <a href=""><i class="fi fi-power"></i>退出</a>
                            </li> 
                        </ul>
                    </li>                    
                </ul>
            </div>
        </nav>

        <div class="grid-x" style="max-height: calc(100vh - 95px);min-height: calc(100vh - 95px);">
            <div class="cell large-2 left-sidebar hide-for-small-only" style="overflow-y:scroll;">
                <!-- left menu -->
                <aside class=" ">
                    <div class="grid-x">
                        <div class="cell" >                    
                            <ul class="vertical menu accordion-menu left-menu-large" data-accordion-menu>
                                <li class="header"><i class="fas fa-tachometer-alt"></i> 主导航</li>
                                 <li>
                                    <a href="#" class="parent"><i class="fas fa-users-cog"></i>权限管理</a>
                                    <ul class="menu vertical nested">
                                        <li><a href="{{ path('admin.admin.index') }}" data-router="admin.admin"><i class="fi fi-record"></i>管理员管理</a></li>                                    
                                        <li><a href="{{ path('admin.admin_role.index') }}" data-router="admin.admin_role"><i class="fi fi-record"></i>角色管理</a></li>                                    
                                        <li><a href="{{ path('admin.admin_menu.index') }}" data-router="admin.admin_menu"><i class="fi fi-record"></i>菜单管理</a></li>                                    
                                        <li><a href="{{ path('admin.admin_action.index') }}" data-router="admin.admin_action"><i class="fi fi-record"></i>菜单功能管理</a></li>                                    
                                    </ul>
                                </li> 
                                              
                            </ul>
                        </div>
                    </div>
                </aside>
                <!-- left menu end-->
            </div>

            <div class="cell auto overflow-y-scroll">
                <!-- main body -->
                <div class="grid-x main">
                    <div class="cell">
                        <!-- breadcrumbs -->
                        {% block breadcrumbs %}
                        <div class="grid-x " style="position:fixed; top:50; width:100%; z-index:100">
                            <div class="cell">                                
                                <div class="callout callout-breadcrumbs" >
                                    <ul class="breadcrumbs">
                                       <li><a href=""><i class="fas fa-home"></i> 后台首页</a></li>
                                        <li><a href="">123</a></li>                                
                                        <li>
                                            <span class="show-for-sr">Current: </span> 123444
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endblock %}
                        <!-- breadcrumbs end-->
                        <!-- content -->
                        <div style="margin-top:50px;">
                             {% block main %}
                            <div class="grid-x margin-1">
                                <div class="cell">
                                    <div class="callout success">
                                        控制台首页
                                    </div>
                                </div>
                            </div>
                            {% endblock %}
                        </div>
                        <!-- content end -->
                    </div>
                   
                </div> 
                
                <!-- footer -->
                <div class="grid-x margin-top-1">
                    <div class="cell">
                        <footer class="main-footer width-100">
                            <div class="padding-left-1 padding-right-1">
                                <b>Version</b> 6.5.3
                                <strong>Copyright © 2019 <a href="javascript:void(0);">后台管理系统</a>.</strong> All rights reserved.
                            </div>
                        </footer>
                    </div>
                </div>
                <!-- footer end-->
            </div>
          
        </div>

        

    </body>
    
    {% block script %}
    <script src="{{ asset('static/js/vendor/jquery.js') }}"></script>
    <script src="{{ asset('static/js/vendor/what-input.js') }}"></script>
    <script src="{{ asset('static/js/vendor/foundation.js') }}"></script>
    <script src="{{ asset('static/admin/js/app.js') }}"></script>
    <script src="{{ asset('static/lib/layer/layer.js') }}"></script>  
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
    /***左侧菜单 当前链接 */
    $('.left-menu-large a').each(function(){
        var router = $(this).attr('data-router');
        var current_router = "{{ app.request.attributes.get('_route') }}";
        var tmp = current_router.split('.');
        tmp = tmp[0]+'.'+tmp[1];              
        if(router == tmp){
            $(this).parent().addClass('is-active');                    
            $(this).parents('ul').css('display','block');                    
        }
    })
    //
    $('.modify-password').click(function(){
        var href = $(this).attr('data-href');
        layer.open({
            type:2,
            title: '修改密码',
            shadeClose: true,
            shade: 0.8,
            area: ['60%', '60%'],                   
            content: href, //iframe的url
        })
    })
    //
    $('.check-action').click(function(){  
        var obj = $(this);
        
        layer.confirm('是否确认更新路由', {title:'更新控制器行为'}, function(){
            obj.prop('disabled',true);
            layer.load(2);
            $.post("{{ path('admin.admin_action.check') }}",{},function(data){
                if(data.code == 0){
                    layer.msg(data.msg, {time:2000,icon:1},function(){
                        location.reload();
                    });
                }else{
                    layer.msg(data.msg, {time:2000,icon:5}, function(){
                        obj.prop('disabled',false);  
                        layer.closeAll();    
                    });
                }                     
            },'json')
        })
    })
    //
    const baseURL = 'http://127.0.0.1:8080';
    // 创建实例时设置配置的默认值
    var axiosInstance = axios.create({
        baseURL: baseURL,
       
    });

    // 在实例已创建后修改默认值
    axiosInstance.defaults.headers.common['Authorization'] = '';
     axiosInstance.defaults.headers.common['Access-Control-Allow-Origin'] = '*';
    </script> 
    {% endblock %}
    {% block extra %}{% endblock %}
</html>