{% extends 'admin/base.html.twig' %}

{% block main %}
<div class="grid-x  padding-1 shadow">
    <div class="cell">
        <a class="button hollow primary small" href="{{ path('admin.role.add') }}">
            <i class="fas fa-plus"></i>
        新增</a>
        <a class="button info small float-right search">搜索</a>
        <div id="search" class="clearfix">
            <form action="" method="post" id="form-search">
                <div class="grid-x grid-padding-x">                                       
                    <div class="large-2 small-4 cell">
                        <label for="start_date" class="text-right middle">用户名:</label>
                    </div>
                    <div class="large-2 small-8 cell">
                        <input type="text" id="start_date" name="start_date" placeholder="" value="">
                    </div> 
                    <div class="large-2 small-4 cell">
                        <button type="button" class="button alert  hollow  margin-bottom-0 padding-tb" id="button-search"><i class="fas fa-search"></i> 查询</button>
                    </div>                                                                        
                </div>                        
            </form>
        </div>   
        <hr>
        {% for label, messages in app.flashes %}
        {% for message in messages %}
        <div class="{{ label }} callout" data-closable> 
            <button class="close-button" aria-label="alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <p>{{ message }}</p> 
        </div> 
        {% endfor %}
        {% endfor %}
        <table class="hover">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">角色名称</th>                                     
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody>
            {% for v in pagination %}
                <tr class="text-center">
                    <td>{{ loop.index }}</td>
                    <td>{{ v.name }}</td>                                               
                    <td>
                        <a class="hollow button small margin-bottom-0 padding-tb" href="{{ path('admin.role.edit',{'id':v.id}) }}">
                            <i class="fas fa-edit"></i>
                            编辑</a>                                            
                        <button class="hollow button small alert margin-bottom-0 padding-tb href-delete" data-href="{{ path('admin.role.delete',{'id':v.id}) }}">
                            <i class="far fa-trash-alt"></i>
                            删除</button>
                    </td>
                </tr>
            {% endfor %}   
            </tbody>
        </table>
    </div>
</div>
<div class="grid-x margin-top-2 align-center">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
                