<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>修改密码</title>
        <link rel="stylesheet" href="{{ asset('static/css/foundation.css') }}">
        <link rel="stylesheet" href="{{ asset('static/css/app.css') }}">        
    </head>
    <body>
    <!--main-->
    <div class="grid-container">
        <div class="grid-x margin-top-2">
            <div class="cell">
                {% for label, messages in app.flashes %}
                {% for message in messages %}
                <div class="{{ label }} callout" data-closable> 
                    <button class="close-button" aria-label="alert" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>{{ message }}</p> 
                </div> 
                {% endfor %}
                {% endfor %}
               
                {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>        
    </div>
        

   <script src="{{ asset('static/js/vendor/jquery.js') }}"></script>    
    <script src="{{ asset('static/js/vendor/what-input.js') }}"></script>
    <script src="{{ asset('static/js/vendor/foundation.js') }}"></script>
    <script src="{{ asset('static/js/app.js') }}"></script>
    
    <script src="{{ asset('static/lib/layer/layer.js') }}"></script>
    
    <script>
        $(function(){            
            
            
        })
    </script>
    </body>
</html>