{% extends 'admin/base.html.twig' %}

{% block main %}
                    <div class="grid-x  padding-1 shadow">
                        <div class="cell">
                            {% for label, messages in app.flashes %}
                            {% for message in messages %}
                            <div class="{{ label }} callout" data-closable> 
                                <button class="close-button" aria-label="alert" type="button" data-close>
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <p>{{ message }}</p>   
                            </div>                      
                            {% endfor %}   
                            {% endfor %}  
                        </div>
                        <div class="cell">                                                          
                            <form id="grade" method="post" novalidate="novalidate">
                               <div>
                                    <label for="name" class="required">用户名</label>
                                    <input type="text" id="username" name="username" required="required" value="{{ admin.username }}">
                                </div>
                                <div>
                                    <label for="name" class="required">密码</label>
                                    <input type="text" id="password" name="password" placeholder="为空不修改密码">
                                </div>
                                 <div>
                                    <label for="role" class="required">分配角色</label>
                                    <select id="role" name="role">
                                        <option value="">--请选择--</option>
                                        {% for role in roles %}
                                        <option value="{{ role.id }}" {% if role == admin.role %}selected{% endif %}>{{ role.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <label for="channel" class="required">渠道选择</label>
                                    <select id="channel" name="channel">
                                        <option value="">--请选择--</option>
                                        {% for agent in agents %}
                                        <option value="{{ agent.id }}" {% if agent.id == admin.channel %}selected{% endif %}>{{ agent.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                              
                                <div>
                                    <label for="student" class="required">机构选择</label>
                                    <select id="company" name="company[]" multiple class="select2">
                                        {% for company in companys %}
                                        <option value="{{ company.id }}" data-agent="{{ company.agent_id}}"  {% if company.id in dds %}selected{% endif %}>{{ company.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <label for="name" class="required">描述</label>
                                    <textarea name="descript">{{ admin.descript}}</textarea>
                                </div>
                                <div>
                                    <button type="button" id="grade_submit" class="button small">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
{% endblock %}
{% block extra %}
<link href="{{ asset('static/lib/select2/css/select2.min.css') }}" rel="stylesheet" />
<script src="{{ asset('static/lib/select2/js/select2.min.js') }}"></script>
<script>
    $(function() {
          $('.select2').select2();

        $('#channel').change(function() {
            var agent = $(this).val();
            if (agent == '') {
                $("#company option").each(function() {
                    $(this).prop('disabled', false)
                })
                return false;
            }
            $("#company option").each(function() {
                //$(this).prop('selected', false)
                //$('.select2-selection__rendered').html('')
                if ($(this).attr('data-agent') == agent) {
                    $(this).prop('disabled', false)
                } else {
                    $(this).prop('disabled', true)
                }
            })
        })

        $('#grade_submit').click(function() {
            if ($('#username').val() == '') {
                layer.msg('请先填写用户名');
                return false;
            }
           
            $('#grade').submit();
        })
    })
</script>
{% endblock %}